 body {
     text-align: justify;
     overflow-x: hidden;
     text-align: justify;
 }


 .banner {
     height: 90vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-image: url("asset/banner.png");
 }
 h1{
    text-align: center;
    padding: 1rem;
 }

 h2 {
     text-align: center;
     color: blue
 }


 footer {
     display: flex;
     flex-direction: column;
     color: white;
     background-color: rgb(79, 79, 252);
     justify-content: center;
     align-items: center;
 }

 #contactForm {
     display: flex;
     flex-direction: column;
     justify-content: center;
     border: 1px solid #435adf;
     box-shadow: 0.5px 0.5px 6px #9b83f1;
     padding: 2rem;
     border-radius: 5px;
     width: 40%;
 }

 .form_content {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;

 }

    a {
        text-decoration: none;
        color: white;
    }

    .connect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #contact{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        width: 50%;
        border: 1px solid blue;
        border-radius: 10px;
        box-shadow: 2px 2px 15px blue;
    }
    input,textarea{
        width: 100%;
    }

    #contact p{
        color: red;
    }

   .services .col{
    display: flex;
    justify-content: center;
}
